html {
  font-size: 16px; /* ensures 1rem = 16px everywhere */
}


*{
  margin: 0;
  font-family: arial;
  border: border-box;
}

.navbar{
    background-color:#000000;
    height: 60px; /* 85px */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    padding-left: 0.625rem; /* 10px */
    height: 55px; /* 55px */
    width: 3.75rem; /* 60px */
}
.logo{
   background-image: url("techonlyimages/techonly.jpg");
    background-size: cover;
    height: 3.4375rem; /* 55px */
    width: 100%;
}

.border{
    border: 0.125rem solid transparent; /* 2px */
}

.border:hover{
    border: 0.125rem solid white; /* 2px */
}

.menulogo{
    height: 2.5rem; /* 40px */
    width: 2.5rem; /* 40px */
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-right: 10px;
}

.tag{
    height:2.5rem;
    width: 7.8125rem; /* 125px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem / 6.25rem; /* 100px */
    background-color: #222222;
}

span{
    margin-left: 0.3125rem; /* 5px */
}

.input{
    height: 2.5rem; /* 40px */
    width: 25rem; /* 400px */
    border-top-right-radius: 3.125rem; /* 50px */
    border-bottom-right-radius: 3.125rem; /* 50px */
    font-size: 0.65cm; /* unchanged */
    background-color: #222222;
    border: none;
}
.login{
    color: white;
    background-color: red;
    text-decoration: none;
}
.searchbox{
     display: flex;
}
.searchicon{
     background-color: #222222;
     width: 2.5rem; /* 40px */
     display: flex;
     align-items: center;
     justify-content: center;
     border-top-left-radius: 3.125rem; /* 50px */
     border-bottom-left-radius: 3.125rem; /* 50px */
}

/*navbar 2*/

.navbar2{
    background-color:#000000;
    height: 2.8125rem; /* 45px */
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.0625rem solid rgba(241, 241, 241, .13); /* 1px */
}
.tag2{
    height: 1.875rem; /* 30px */
    width: 8.75rem; /* 140px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem / 6.25rem; /* 100px */
    background-color:#222222;
}

.tag21{
    height: 1.875rem; /* 30px */
    width: 10rem; /* 160px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem / 6.25rem; /* 100px */
    background-color:#222222;
}

.tag22{
    height: 1.875rem; /* 30px */
    width: 11.25rem; /* 180px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem / 6.25rem; /* 100px */
    background-color:#222222;
}

.tag23{
    height: 1.875rem; /* 30px */
    width: 11.25rem; /* 180px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6.25rem / 6.25rem; /* 100px */
    background-color:#222222;
}

.home{
    display: flex;
    align-items: center;
    height: 2.8125rem; /* 45px */
    background-color: #000000;
    color: white;
    padding-top: 0.625rem; /* 10px */
}
.text{
    display: flex;
    padding-left: 1.25rem; /* 20px */
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px; /* 600px */
    background-color: #000000;
}
.imgsec{
    height:450px; /* 530px */
    width: 95%;
    background-color: #000000;
    background-image: url("techonlyimages/hero2.img");
    background-size:contain;
    border-radius: 1.25rem / 1.25rem; /* 20px */
    filter: blur(0.125rem) brightness(50%); /* 2px */
}
.textmain{
    position: absolute;
    display: list-item;
    color: #ffffff;
    font-size: 1.5625rem; /* 25px */
}

.nav3{
    height: 3.75rem; /* 60px */
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap;
    gap: 1.875rem; /* 30px */
    align-items: center;
}

.nav3::-webkit-scrollbar {
  display: none;
}

.bnav{
    height: 2.5rem; /* 40px */
    width: 12.5rem; /* 200px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem; /* 10px */
    background-color:#222222;  
    flex: 0 0 auto;
}

.nav3 {
  cursor: grab;
}
.nav3:active {
  cursor: grabbing;
}

.shoping{
    height: 700px; /* 1000px */
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.625rem; /* 10px */
}

.shopingbox{
   height: 200px; /* 400px */
   width: 250px; /* 370px */
   background-color: #000000 ;
   display: flex;
   justify-content: center;
   margin-top: 1.25rem; /* 20px */
   flex-wrap: wrap;
   margin-bottom: 5rem; /* 80px */
}

.shopingimg{
    height: 200px; /* 300px */
    width: 90%;
    background-color: blue;
    border-radius: 1.25rem; /* 20px */
    background-size: cover;
    margin-bottom: 1.875rem; /* 30px */
}

.pricesec{
   color: white;
   padding-left: 0.625rem; /* 10px */
}

.margin{
    margin-bottom: 5rem; /* 80px */
}
